POSTGRES_USER=your_db_user_here
POSTGRES_PASSWORD=your_db_password_here
POSTGRES_DB=your_db_name_here

JWT_SECRET=your_jwt_secret_here_min_32_chars
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here_min_32_chars
ADMIN_PASSWORD=your_admin_password_here

# IP-ul public al serverului EC2 (ex: http://1.2.3.4)
ALLOWED_ORIGINS=http://your_ec2_ip_here
